<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GeneradorScriptPaquetesOracle.Properties.ConnectionStrings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GeneradorScriptPaquetesOracle.ConnectionStrings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <GeneradorScriptPaquetesOracle.Properties.ConnectionStrings>
            <setting name="ConnectionString" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="Alias" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="Owners" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
        </GeneradorScriptPaquetesOracle.Properties.ConnectionStrings>
        <GeneradorScriptPaquetesOracle.ConnectionStrings>
            <setting name="ConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectionString1" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectionString2" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectionString3" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectionString4" serializeAs="String">
                <value/>
            </setting>
            <setting name="ConnectionString5" serializeAs="String">
                <value/>
            </setting>
        </GeneradorScriptPaquetesOracle.ConnectionStrings>
    </userSettings>
</configuration>